includes:
    - phpstan-baseline.neon

parameters:
    level: 6

    paths:
        - src
        - config

    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#Call to function method_exists\(\) with Google\\Cloud\\Language\\Annotation and .* will always evaluate to true.#'
